{{template "base" .}} 


{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">

                <h1>Generate hashed password</h1>                

                <form action="/admin/generate-hashed-password" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">                    

                    <div class="form-group">
                        <label for="password">Enter a password to hash:</label>
                        {{with .Form.Errors.Get "password"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}  
                        
                        <div class="input-group">
                            <input class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}"
                            id="password" autocomplete="off" type="password"
                            name="password" value="" required>  
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>                    
                    </div>
                    <br>
                    
                    <input type="submit" class="btn btn-primary" value="Generate">
                </form>

            </div>
        </div>
    </div>  
{{end}}