{{template "base" .}} 


{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image"  alt="General's Quarters">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p> 
                Step into The General's Quarters, where power and wisdom linger like a distant drumbeat. The walls, adorned with relics of triumph and strategy, stand as silent witnesses to the grandeur of leadership. Here, the air feels heavy with the weight of decisions once made, the pulse of history humming beneath the floorboards. A grand bed stands sentinel in the center, its frame darkened with time and tales untold, as though it waits to share its secrets with those brave enough to listen.
            </p>
            <p>
                The fire in the hearth flickers like the spirit of a steadfast commander, unwavering in its watch through the night. Draped in the deep hues of aged mahogany and rich crimson, the room whispers stories of victories hard-won and moments of profound reflection. It is not merely a retreat but a throne of reverence for the mind that dares to dream boldly.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" data-csrf="{{.CSRFToken}}" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
    <script>
        checkAvailability(1)    
    </script>
{{end}}